<html ng-app="apiApp">
	<body ng-controller="apiController">

		<input type="text" ng-model="searchVehicle.name"> <br><br>

		<div ng-repeat="vehicle in vehicles | filter: searchVehicle">
			{{vehicle.name}}<br>
			{{vehicle.model}}<br>
			{{vehicle.manufacturer}}<br>
			{{vehicle.cost_in_credits}}<br>
			<hr>
		</div>
		

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>